*.dtbcache
*.json
*.dll
*.pdb
*.cs
*.cache
*.CopyComplete
*.txt
*.props
*.targets
/src/Logo/Logo/bin/Debug/Logo.exe
/src/Logo/Logo/bin/Debug/Logo.exe.config
/src/Logo/Logo/obj/Debug/Logo.Form1.resources
/src/Logo/Logo/obj/Debug/Logo.Properties.Resources.resources
/src/Logo/Logo/obj/Debug/Logo.exe
*.v2
*.user
*.exe
*.config
*.resources
